
{{> header }}
{{> searchSP }}
{{#if result}}
{{#each result}}
  <div class="panel panel-default">
    {{#if img_path}}
      <div class="panel-body"><img src = "images/{{img_path}}" width:"50px" height="50px"></div>
    {{else}}
      <div class="panel-body"><img src = "images/doctor.png" width:"50px" height="50px"></div>
    {{/if}}
    <div class="panel-body">{{name}}</div>
    <div class="panel-body">{{email}}</div>
    <div class="panel-body">{{address}}</div>
  </div>
{{/each}}
{{else}}
{{#if error}}
  <p class="alert alert-warning">{{error}}</p>
{{/if}}
{{/if}}
<h4>Upload Your Display Picture</h4>
<form action="/uploadDP/" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <input id="displaypic" type="file" name="displaypic" accept="application/x-zip-compressed,image/*" >
  </div>
  <input type="submit" value="Submit" class="btn btn-default">
</form>
<input type="text" class="form-control" value="02-16-2012">
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
